{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="float-right">
                <tr>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm" onclick="location=`/proto/room/create`">등록</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger btn-sm" onclick="deleteRoom()">삭제</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-12">
            <table class="table table-bordered text-center">
                <colgroup>
                    <col width="10%">
                    <col width="10%">
                    <col width="auto">
                    <col width="auto">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                </colgroup>
                <thead class="thead-dark">
                    <tr>
                        <th scope="col"><input type="checkbox" aria-label="check all" id="checkAll"
                                onclick="checkAll()">
                        </th>
                        <th scope="col">번호</th>
                        <th scope="col">제목</th>
                        <th scope="col">매물위치</th>
                        <th scope="col">보증금</th>
                        <th scope="col">월세</th>
                        <th scope="col">등록일자</th>
                    </tr>
                </thead>
                <tbody>
                    {% for room in rooms %}
                    <tr>
                        <th scope="row"><input type="checkbox" class="check" data-seq="{{ room.seq }}" aria-label="Checkbox for delete"></th>
                        <td>{{ room.seq }}</td>
                        <td>{{ room.title }}</td>
                        <td class="loc" data-locs="{{ room.random_location }}"></td>
                        <td>{{ room.price_title.split('/')[0] }}</td>
                        <td>{{ room.price_title.split('/')[1] }}</td>
                        <td>{{ room.reg_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    const geocoder = new kakao.maps.services.Geocoder();
    $(".loc").each((idx, elem) => {
        coords = eval($(elem).attr("data-locs"))
        geocoder.coord2RegionCode(coords[0], coords[1], (result, status) => {
            if (status === kakao.maps.services.Status.OK) {
                elem.innerText = result[0].address_name;
            }
        })
    })
    
    const checkAll = () => {
        $(".check").each((idx, elem) => {
            $(elem).prop("checked", true)
        })
    }

    const deleteRoom = () => {
        var req = { "seqs[]": [] }
        $(".check").each((idx, elem) => {
            if($(elem).is(":checked")) {
                req["seqs[]"].push($(elem).attr("data-seq"))
            }
        })
        
        $.post("/proto/room/delete", req, (data) => {
            console.log(data)
        })
    }
</script>
{% endblock %}